<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.tech.blog.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.editservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpostservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.addpostservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editblogservlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.editblogservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.tech.blog.servlets.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editservlet</servlet-name>
        <url-pattern>/editservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpostservlet</servlet-name>
        <url-pattern>/addpostservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editblogservlet</servlet-name>
        <url-pattern>/editblogservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
