.navbar.nav-item.nav-link{
    
    font-size:20px;
    color: white;
    
}
.navbar-custom .nav-item:hover .nav-link{
    background-color: white;
    color:black;
    border-radius: 10px;
    
}
.bg-custom
{
    background: #666;
}
.m:hover
{ background-color: grey;
      ;
    color:white;
    border-radius: 10px;
    
    
    
}